/* 背景 */
body {
    background-image: url(../img/washi.png);
    font-family: "Hannotate SC";
}

h1 {
    font-weight: bold;
}

/* map */
 #map-container {
    position: relative;
    margin: 30px;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
    border: 1px solid black;
}
  
#map {
    position: absolute;
    padding: 50px;
    top: 0;
    left: 0;
    width: 85%;
    height: 100%;
}

/* 検索 */
#pac-input {
    background-color: #fff;
    font-family: "Hannotate SC";
    font-size: 18px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 17px;
    text-overflow: ellipsis;
    width: 400px;
    height: 40px;
}
  
#pac-input:focus {
    border-color: none;
    outline: black;
    cursor: pointer;
}

#sidebar {
    text-align: center;
    position: absolute;
    background-color: transparent;
    padding: 6px;
    top: 0;
    width: 15%;
    right: 0;
    height: 100%;
    overflow: auto;
}