/* 背景 */
body {
    background-image: url(../img/washi.png);
    font-family: "Hannotate SC";
}

h1 {
    font-weight: bold;
}

/* map */
#map-container {
    width:100%;
    padding-top:50%;
    position: relative;
    margin:auto;
    border: 1px solid #748ca5;
}
  
#map {
    position: absolute;
    width: 85%;
    height: 100%;
    top: 0;
}

/* 検索 */
#pac-input {
    position: relative;
    background-color: #fff;
    font-family: "Hannotate SC";
    font-size: 18px;
    font-weight: bold;
    padding: 0 17px;
    text-overflow: ellipsis;
    width: 100%;
    height: 30px;
    background-color: white;
    border: 1px solid #748ca5;
}
  
#pac-input:focus {
    border-color: none;
    outline: black;
    cursor: pointer;
}

#sidebar {
    text-align: center;
    position: absolute;
    background-color: transparent;
    padding: 6px;
    top: 0;
    width: 15%;
    right: 0;
    height: 100%;
    overflow: auto;
    border-left: 1px solid #748ca5;
}