/* 背景 */
body {
    background-image: url(../img/washi.png);
    overflow: scroll;
}

  /* map */
 /* Set the size of the div element that contains the map */
/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 85%;
    margin: 5, 5;
    padding: 0;
  }